
<h3>6면 바코드 인식 컨베이어시스템 - 삑그리고 다음 팀</h3>
<style>
    h3 {
        font-size: 32px;
        color: blue;
        margin-bottom: 20px;
        margin-left: 100px;
        text-align:left;
    }
    ul{
        list-style-type: decimal;
    }
    ol{
        list-style-type:decimal;
        padding-left:64px;
        font-size: 32px;
        
    }
    li{
        list-style-type:decimal;
    }


</style>
<button><a href="/">Home</a></button>
    <style>
        button {
            font-size: 32px;
            color: hotpink;
            margin-bottom: 20px;
            text-align:left;
     }
    </style>
    <div class= "container">
        <div class = "row">
            <div class="col-sm-4">
                <img src= "{{ url_for('static', filename='images/team.jpg')}}" alt="cat1" class="rounded-circle" >
            </div>
        </div>
</div>

